*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}

.logo {
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

.logo span {
    color: red;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav a {
    color: white;
    font-size: 2.3rem;
    transition: 0.3s ease;
}

nav a:hover {
    color: red;
    text-decoration: underline red;
    text-underline-offset: 20px;
    
}

.cv-download-btn {
    color: red;
    font-size: 2.3rem;
    border: 3px solid red;
    border-radius: 15px;
    padding: 15px 5px;
    transition: 0.5s ease;
}

.cv-download-btn:hover {
    color: black;
    background-color: red;
}

main {
    display: flex;
    border: 1px solid rgb(55, 255, 0);
}

.profile-image {
    width: 45%;
    position: relative;
    border: 3px solid yellow;
}

.profile-image img {
    width: 70%;
    margin-left: 20%;
    border: 1px solid red;
    border-radius: 30px;
    box-shadow:0 0 40px red;
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-left: 15%;
    width: 80%;
    height: 20%;
    top: 75%;
    background-color: rgba(0, 0, 0, 0.659);
    border: 1px solid red;
    border-radius: 10px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    
}

.social-icons {
    display: flex;
    border: 1px solid red;
}
